@page "/counter"
@inject CounterService CounterService
@using BlazorApp2.Data

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @m_currentCount</p>

<p role="status">Singleton count: @CounterService.CounterData.Count</p>
<p role="status">Singleton Date: @CounterService.CounterData.LastIncreaseDateTime</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<button class="btn btn-primary" @onclick="Load">Click me</button>

@code {
    [Parameter]
    public int IncrementAmount { get; set; } = 1;
    protected int m_currentCount = 0;

    private void IncrementCount()
    {
        m_currentCount += IncrementAmount;
        CounterService.Increase();
    }

    private void Load()
    {
        CounterService.LoadState();
    }
}